.containerNavigation {
  height: 100%;
  z-index: 50;
  nav {
    background-color: hsl(289, 22%, 25%);
    button {
      border: none;
      color: none;
      cursor: pointer;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.222rem;
      margin: 0 0.556rem;
    }
  }
}

nav.closeNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  p {
    margin: 0 0.556rem;
  }
}

nav.openNavigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 8% 92%;
  summary {
    list-style: none;
  }
  .containerMenuHeader {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 10vh;
  }
}

.options {
  * {
    margin: 0 0 0.278rem 0;
    font-size: 25px;
  }
  margin: 1rem;
  span {
    display: flex;
  }
  details {
    button {
      margin: 0 0 0.278rem 0.833rem !important;
    }
  }
  button {
    display: flex;
    align-items: center;
    text-align: left;
    width: auto !important;
    margin: 0 0 0.278rem 0 !important;
  }
}

.login {
  display: flex;
  justify-content: center;
}
