.containerIndex {
  h1,
  p {
    text-align: center;
  }
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.navigationIndex {
  display: flex;
  justify-content: space-around;
  max-width: 245px;
  min-width: 100%;
  button {
    margin: 14.994px;
    max-width: 45%;
  }
}

.gallery {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  img {
    object-fit: cover;
    max-height: 40vh;
    width: 100%;
    scroll-snap-align: center;
  }
}
