@font-face {
  font-family: "Filxgirl";
  src: url("../public/Filxgirl.TTF");
}

@font-face {
  font-family: "Umunu";
  src: url("../public/umunu.otf");
}

:root {
  --purple: hsl(289, 22%, 25%);
  --purpleBg: hsl(300, 9%, 41%);
  --primaryFont: "Umunu";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  font-family: var(--primaryFont);
}

.logo {
  font-family: "Filxgirl";
  font-size: 1.667rem;
  margin: 0 0.833rem;
}
